body {
    margin: 0;
}

h1 {
    text-align: center;
    text-shadow: 5px 5px 0px red;
}

.exemplo {
    width: 150px;
    height: 150px;
    background-color: green;
    margin: auto;
    margin-top: 20px;
    box-shadow: 10px 10px 5px #888;
}

.exemplo2 {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0px 0px 30px #888;
}

.exemplo3 {
    width: 150px;
    height: 150px;
    background-color: blue;
    margin: auto;
    margin-top: 50px;
    border-radius: 75px;
    box-shadow: 0px 0px 30px #000;
}

p {
    text-align: center;
    font-size: 30px;
    text-shadow: 5px 5px 5px #000;
}