body {
    margin: 30px;
}

h1 {
    text-align: center;
}

.ul1 {
    list-style-type: disc;
}

.ul2 {
    list-style-type: square;
}

.ul3 {
    list-style-type: circle;
}

.ul4 {
    list-style-type: none;
}