a {
    margin: 16px;
    font-size: xx-large;
}

div {
    width: 400px;
    height: 400px;
    background-color: darkred;
}

div:hover {
    background-color: darkgreen;
}

.link {
    color: green;
}

.link:hover {
    color: red;
}

.link:visited {
    color: darkgray;
}