body {
    margin: 30px;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
}

th,
td {
    padding: 10px;
}

table thead {
    background-color:lightgray;
}

table tbody {
    background-color: blanchedalmond;
}

tbody tr:nth-child(even) {
    background-color: wheat;
}

tbody tr:hover {
    background-color: red;
}